.paragraph-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  color: #64748b;
}

.main-head {
  margin-bottom: 0px;
  color: #183b56;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
}
.name-and-filter {
  display: flex;
  align-items: center;
}
.small-para {
  margin: 10px;
}
.select-option {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
}
.sort-by-select {
  color: #64748b;
  background-color: #ffffff;
  border: none;
  padding: 12px;
  outline: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .main-head {
    font-size: 15px;
    line-height: 8px;
  }
  .paragraph-container {
    flex-direction: column;
    font-size: 10px;
  }
  .paragraph-two-main {
    font-size: 10px;
  }
  .name-and-filter {
    margin-right: 39%;
  }
}
