.nav-header {
  border-bottom: 1px solid rgb(243, 243, 243);
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .nav-content {
    width: 90%;
  }
}
.home-and-logo {
  display: flex;
  align-items: center;
}
.head {
  color: #f7931e;
  font-weight: bold;
  font-family: DM Sans;
  font-style: italic;
  font-size: 20px;
  margin-left: 10px;
}
@media screen and (max-width: 992px) {
  .head {
    font-size: 13px;
  }
}
.home-cart-logout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}
.nav-link {
  text-decoration: none;
  color: #f7931e;
  font-weight: bold;
}
.home {
  list-style: none;
}
@media screen and (max-width: 992px) {
  .logo {
    height: 20px;
    width: 20px;
  }
}
.nav-link-two {
  text-decoration: none;
  color: #334155;
  font-weight: bold;
}
.logout {
  color: white;
  background: #f7931e;
  border-radius: 8px;
  border: none;
  height: 32px;
  width: 73px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;
  outline: none;
}
.logout_two {
  background-color: transparent;
  border: none;
  outline: none;
}
@media screen and (max-width: 992px) {
  .home-cart-logout {
    display: none;
  }
  .mobile-home-cart {
    width: 100%;
    padding: 1px;
  }
  .mobile-cart-nav {
    width: 80%;
    margin: auto;
  }
  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bar-one {
    display: flex;
  }
  .home-home-bar {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #334155;
  }
  .home-cart-bar {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #f7931e;
    margin-left: 20px;
  }
  .home-close {
    background-size: cover;
    width: 56px;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    color: #f7931e;
    border: 1px solid #f7931e;
  }
  .nav-home {
    text-decoration: none;
  }
}
@media screen and (min-width: 991px) {
  .logout_two {
    display: none;
  }
  .mobile-home-cart {
    display: none;
  }
}
